# EDA > Pivot

<div class="alert alert-info">Create pivot tables, frequency tables, and crosstabs</div>

The `pivot` function creates frequency tables for a single variable or crosstabs for two variables. It supports various aggregation functions, normalization, and totals.

In [1]:
import pyrsm as rsm

## setup pyrsm for autoreload
%reload_ext autoreload
%autoreload 2
%aimport pyrsm

# Diamonds Dataset

In [2]:
diamonds, diamonds_description = rsm.load_data(pkg="data", name="diamonds")
diamonds.head()

shape: (5, 11)
┌───────┬───────┬─────────┬───────────┬───┬──────┬──────┬──────┬────────────┐
│ price ┆ carat ┆ clarity ┆ cut       ┆ … ┆ x    ┆ y    ┆ z    ┆ date       │
│ ---   ┆ ---   ┆ ---     ┆ ---       ┆   ┆ ---  ┆ ---  ┆ ---  ┆ ---        │
│ i32   ┆ f64   ┆ cat     ┆ cat       ┆   ┆ f64  ┆ f64  ┆ f64  ┆ date       │
╞═══════╪═══════╪═════════╪═══════════╪═══╪══════╪══════╪══════╪════════════╡
│ 580   ┆ 0.32  ┆ VS1     ┆ Ideal     ┆ … ┆ 4.43 ┆ 4.45 ┆ 2.71 ┆ 2012-02-26 │
│ 650   ┆ 0.34  ┆ SI1     ┆ Very Good ┆ … ┆ 4.45 ┆ 4.42 ┆ 2.81 ┆ 2012-02-26 │
│ 630   ┆ 0.3   ┆ VS2     ┆ Very Good ┆ … ┆ 4.27 ┆ 4.23 ┆ 2.68 ┆ 2012-02-26 │
│ 706   ┆ 0.35  ┆ VVS2    ┆ Ideal     ┆ … ┆ 4.6  ┆ 4.65 ┆ 2.74 ┆ 2012-02-26 │
│ 1080  ┆ 0.4   ┆ VS2     ┆ Premium   ┆ … ┆ 4.72 ┆ 4.68 ┆ 2.94 ┆ 2012-02-26 │
└───────┴───────┴─────────┴───────────┴───┴──────┴──────┴──────┴────────────┘

## Frequency Table (Single Variable)

Count occurrences of each value in a categorical column.

In [3]:
rsm.eda.pivot(diamonds, rows="cut")

shape: (5, 2)
┌───────────┬───────┐
│ cut       ┆ count │
│ ---       ┆ ---   │
│ cat       ┆ u32   │
╞═══════════╪═══════╡
│ Very Good ┆ 677   │
│ Ideal     ┆ 1176  │
│ Premium   ┆ 771   │
│ Fair      ┆ 101   │
│ Good      ┆ 275   │
└───────────┴───────┘

In [4]:
rsm.eda.pivot(diamonds, rows="color")

shape: (7, 2)
┌───────┬───────┐
│ color ┆ count │
│ ---   ┆ ---   │
│ cat   ┆ u32   │
╞═══════╪═══════╡
│ D     ┆ 382   │
│ G     ┆ 597   │
│ F     ┆ 565   │
│ E     ┆ 554   │
│ I     ┆ 284   │
│ J     ┆ 164   │
│ H     ┆ 454   │
└───────┴───────┘

In [5]:
rsm.eda.pivot(diamonds, rows="cut", values="price")

shape: (5, 2)
┌───────────┬─────────────┐
│ cut       ┆ price_mean  │
│ ---       ┆ ---         │
│ cat       ┆ f64         │
╞═══════════╪═════════════╡
│ Good      ┆ 4130.432727 │
│ Fair      ┆ 4505.237624 │
│ Very Good ┆ 3959.915805 │
│ Ideal     ┆ 3470.223639 │
│ Premium   ┆ 4369.40856  │
└───────────┴─────────────┘

## Frequency Table with Percentages

In [6]:
rsm.eda.pivot(diamonds, rows="cut", normalize="total")

shape: (5, 3)
┌───────────┬───────┬───────────┐
│ cut       ┆ count ┆ count_pct │
│ ---       ┆ ---   ┆ ---       │
│ cat       ┆ u32   ┆ f64       │
╞═══════════╪═══════╪═══════════╡
│ Good      ┆ 275   ┆ 9.166667  │
│ Very Good ┆ 677   ┆ 22.566667 │
│ Premium   ┆ 771   ┆ 25.7      │
│ Fair      ┆ 101   ┆ 3.366667  │
│ Ideal     ┆ 1176  ┆ 39.2      │
└───────────┴───────┴───────────┘

## Frequency Table with Totals

In [7]:
rsm.eda.pivot(diamonds, rows="cut", totals=True)

shape: (6, 2)
┌───────────┬────────┐
│ cut       ┆ count  │
│ ---       ┆ ---    │
│ str       ┆ f64    │
╞═══════════╪════════╡
│ Very Good ┆ 677.0  │
│ Good      ┆ 275.0  │
│ Ideal     ┆ 1176.0 │
│ Premium   ┆ 771.0  │
│ Fair      ┆ 101.0  │
│ Total     ┆ 3000.0 │
└───────────┴────────┘

## Crosstab (Two Variables)

Cross-tabulate two categorical variables to see their joint distribution.

In [8]:
rsm.eda.pivot(diamonds, rows="cut", cols="color")

shape: (5, 8)
┌───────────┬───────┬───────┬───────┬───────┬──────┬───────┬───────┐
│ cut       ┆ E     ┆ D     ┆ I     ┆ G     ┆ J    ┆ H     ┆ F     │
│ ---       ┆ ---   ┆ ---   ┆ ---   ┆ ---   ┆ ---  ┆ ---   ┆ ---   │
│ cat       ┆ f64   ┆ f64   ┆ f64   ┆ f64   ┆ f64  ┆ f64   ┆ f64   │
╞═══════════╪═══════╪═══════╪═══════╪═══════╪══════╪═══════╪═══════╡
│ Good      ┆ 62.0  ┆ 35.0  ┆ 26.0  ┆ 40.0  ┆ 20.0 ┆ 37.0  ┆ 55.0  │
│ Premium   ┆ 144.0 ┆ 92.0  ┆ 83.0  ┆ 156.0 ┆ 45.0 ┆ 132.0 ┆ 119.0 │
│ Fair      ┆ 14.0  ┆ 15.0  ┆ 11.0  ┆ 16.0  ┆ 7.0  ┆ 21.0  ┆ 17.0  │
│ Ideal     ┆ 194.0 ┆ 163.0 ┆ 105.0 ┆ 254.0 ┆ 53.0 ┆ 169.0 ┆ 238.0 │
│ Very Good ┆ 140.0 ┆ 77.0  ┆ 59.0  ┆ 131.0 ┆ 39.0 ┆ 95.0  ┆ 136.0 │
└───────────┴───────┴───────┴───────┴───────┴──────┴───────┴───────┘

## Crosstab with Totals

In [9]:
rsm.eda.pivot(diamonds, rows="cut", cols="color", totals=True)

shape: (6, 9)
┌───────────┬───────┬───────┬───────┬───┬───────┬───────┬───────┬────────┐
│ cut       ┆ F     ┆ H     ┆ J     ┆ … ┆ E     ┆ I     ┆ G     ┆ Total  │
│ ---       ┆ ---   ┆ ---   ┆ ---   ┆   ┆ ---   ┆ ---   ┆ ---   ┆ ---    │
│ str       ┆ f64   ┆ f64   ┆ f64   ┆   ┆ f64   ┆ f64   ┆ f64   ┆ f64    │
╞═══════════╪═══════╪═══════╪═══════╪═══╪═══════╪═══════╪═══════╪════════╡
│ Very Good ┆ 136.0 ┆ 95.0  ┆ 39.0  ┆ … ┆ 140.0 ┆ 59.0  ┆ 131.0 ┆ 677.0  │
│ Ideal     ┆ 238.0 ┆ 169.0 ┆ 53.0  ┆ … ┆ 194.0 ┆ 105.0 ┆ 254.0 ┆ 1176.0 │
│ Premium   ┆ 119.0 ┆ 132.0 ┆ 45.0  ┆ … ┆ 144.0 ┆ 83.0  ┆ 156.0 ┆ 771.0  │
│ Fair      ┆ 17.0  ┆ 21.0  ┆ 7.0   ┆ … ┆ 14.0  ┆ 11.0  ┆ 16.0  ┆ 101.0  │
│ Good      ┆ 55.0  ┆ 37.0  ┆ 20.0  ┆ … ┆ 62.0  ┆ 26.0  ┆ 40.0  ┆ 275.0  │
│ Total     ┆ 565.0 ┆ 454.0 ┆ 164.0 ┆ … ┆ 554.0 ┆ 284.0 ┆ 597.0 ┆ 3000.0 │
└───────────┴───────┴───────┴───────┴───┴───────┴───────┴───────┴────────┘

## Row Normalization

Show percentages within each row (rows sum to 100%).

In [10]:
rsm.eda.pivot(diamonds, rows="cut", cols="color", normalize="row", totals=True)

shape: (6, 9)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬──────────┬───────────┬───────┐
│ cut       ┆ H         ┆ F         ┆ E         ┆ … ┆ I         ┆ J        ┆ D         ┆ Total │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---      ┆ ---       ┆ ---   │
│ str       ┆ f64       ┆ f64       ┆ f64       ┆   ┆ f64       ┆ f64      ┆ f64       ┆ f64   │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪══════════╪═══════════╪═══════╡
│ Ideal     ┆ 14.370748 ┆ 20.238095 ┆ 16.496599 ┆ … ┆ 8.928571  ┆ 4.506803 ┆ 13.860544 ┆ 100.0 │
│ Premium   ┆ 17.120623 ┆ 15.434501 ┆ 18.677043 ┆ … ┆ 10.76524  ┆ 5.836576 ┆ 11.932555 ┆ 100.0 │
│ Very Good ┆ 14.032496 ┆ 20.088626 ┆ 20.679468 ┆ … ┆ 8.714919  ┆ 5.760709 ┆ 11.373708 ┆ 100.0 │
│ Fair      ┆ 20.792079 ┆ 16.831683 ┆ 13.861386 ┆ … ┆ 10.891089 ┆ 6.930693 ┆ 14.851485 ┆ 100.0 │
│ Good      ┆ 13.454545 ┆ 20.0      ┆ 22.545455 ┆ … ┆ 9.454545  ┆ 7.272727 ┆ 12.727273 ┆ 100.0 │
│ Total     ┆ 15.133333 ┆ 18.833333 ┆ 18.466667 ┆ … ┆ 9.466667  ┆ 5.466667 ┆ 12.733333 ┆ 100.0 │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴──────────┴───────────┴───────┘

## Column Normalization

Show percentages within each column (columns sum to 100%).

In [11]:
rsm.eda.pivot(diamonds, rows="cut", cols="color", normalize="column")

shape: (5, 8)
┌───────────┬───────────┬───────────┬───────────┬──────────┬───────────┬───────────┬───────────┐
│ cut       ┆ D         ┆ G         ┆ E         ┆ H        ┆ F         ┆ I         ┆ J         │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆ ---      ┆ ---       ┆ ---       ┆ ---       │
│ cat       ┆ f64       ┆ f64       ┆ f64       ┆ f64      ┆ f64       ┆ f64       ┆ f64       │
╞═══════════╪═══════════╪═══════════╪═══════════╪══════════╪═══════════╪═══════════╪═══════════╡
│ Good      ┆ 9.162304  ┆ 6.700168  ┆ 11.191336 ┆ 8.14978  ┆ 9.734513  ┆ 9.15493   ┆ 12.195122 │
│ Fair      ┆ 3.926702  ┆ 2.680067  ┆ 2.527076  ┆ 4.625551 ┆ 3.00885   ┆ 3.873239  ┆ 4.268293  │
│ Very Good ┆ 20.157068 ┆ 21.943049 ┆ 25.270758 ┆ 20.92511 ┆ 24.070796 ┆ 20.774648 ┆ 23.780488 │
│ Premium   ┆ 24.08377  ┆ 26.130653 ┆ 25.99278  ┆ 29.07489 ┆ 21.061947 ┆ 29.225352 ┆ 27.439024 │
│ Ideal     ┆ 42.670157 ┆ 42.546064 ┆ 35.018051 ┆ 37.22467 ┆ 42.123894 ┆ 36.971831 ┆ 32.317073 │
└───────────┴───────────┴───────────┴───────────┴──────────┴───────────┴───────────┴───────────┘

## Aggregation with Values

Instead of counting, aggregate a numeric variable by groups.

In [12]:
# Mean price by cut and color
rsm.eda.pivot(diamonds, rows="cut", cols="color", values="price", agg="mean")

shape: (5, 8)
┌───────────┬────────────┬────────────┬────────────┬───────────┬───────────┬───────────┬───────────┐
│ cut       ┆ F          ┆ G          ┆ H          ┆ E         ┆ J         ┆ I         ┆ D         │
│ ---       ┆ ---        ┆ ---        ┆ ---        ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ cat       ┆ f64        ┆ f64        ┆ f64        ┆ f64       ┆ f64       ┆ f64       ┆ f64       │
╞═══════════╪════════════╪════════════╪════════════╪═══════════╪═══════════╪═══════════╪═══════════╡
│ Ideal     ┆ 3375.05462 ┆ 3844.53543 ┆ 3515.67455 ┆ 2851.6597 ┆ 4987.7547 ┆ 4330.3523 ┆ 2667.4785 │
│           ┆ 2          ┆ 3          ┆ 6          ┆ 94        ┆ 17        ┆ 81        ┆ 28        │
│ Very Good ┆ 3669.72794 ┆ 3864.27480 ┆ 4207.29473 ┆ 3566.4428 ┆ 5212.4102 ┆ 5409.8813 ┆ 3299.9740 │
│           ┆ 1          ┆ 9          ┆ 7          ┆ 57        ┆ 56        ┆ 56        ┆ 26        │
│ Premium   ┆ 4086.83193 ┆ 3976.5     ┆ 5066.29545 ┆ 3364.6944 ┆ 7515.4666 ┆ 5056.6867 ┆ 3814.9891 │
│           ┆ 3          ┆            ┆ 5          ┆ 44        ┆ 67        ┆ 47        ┆ 3         │
│ Fair      ┆ 5101.29411 ┆ 3919.8125  ┆ 5742.47619 ┆ 3149.9285 ┆ 6102.0    ┆ 2676.7272 ┆ 4582.7333 │
│           ┆ 8          ┆            ┆            ┆ 71        ┆           ┆ 73        ┆ 33        │
│ Good      ┆ 3443.4     ┆ 5116.225   ┆ 3958.16216 ┆ 3847.2096 ┆ 3837.25   ┆ 6147.3461 ┆ 3436.5142 │
│           ┆            ┆            ┆ 2          ┆ 77        ┆           ┆ 54        ┆ 86        │
└───────────┴────────────┴────────────┴────────────┴───────────┴───────────┴───────────┴───────────┘

In [13]:
# Median carat by cut and color
rsm.eda.pivot(diamonds, rows="cut", cols="color", values="carat", agg="median")

shape: (5, 8)
┌───────────┬───────┬──────┬──────┬───────┬──────┬───────┬──────┐
│ cut       ┆ J     ┆ F    ┆ H    ┆ E     ┆ I    ┆ G     ┆ D    │
│ ---       ┆ ---   ┆ ---  ┆ ---  ┆ ---   ┆ ---  ┆ ---   ┆ ---  │
│ cat       ┆ f64   ┆ f64  ┆ f64  ┆ f64   ┆ f64  ┆ f64   ┆ f64  │
╞═══════════╪═══════╪══════╪══════╪═══════╪══════╪═══════╪══════╡
│ Fair      ┆ 1.0   ┆ 1.0  ┆ 1.01 ┆ 0.715 ┆ 0.73 ┆ 0.855 ┆ 0.9  │
│ Very Good ┆ 1.04  ┆ 0.7  ┆ 0.9  ┆ 0.71  ┆ 1.01 ┆ 0.72  ┆ 0.54 │
│ Good      ┆ 0.865 ┆ 0.7  ┆ 1.0  ┆ 0.7   ┆ 1.36 ┆ 1.0   ┆ 0.7  │
│ Ideal     ┆ 1.07  ┆ 0.54 ┆ 0.7  ┆ 0.51  ┆ 0.7  ┆ 0.535 ┆ 0.51 │
│ Premium   ┆ 1.51  ┆ 0.71 ┆ 1.02 ┆ 0.52  ┆ 1.01 ┆ 0.71  ┆ 0.69 │
└───────────┴───────┴──────┴──────┴───────┴──────┴───────┴──────┘

# Titanic Dataset

In [14]:
titanic, titanic_description = rsm.load_data(pkg="data", name="titanic")
titanic.head()

shape: (5, 10)
┌────────┬──────────┬────────┬────────┬───┬────────────┬───────────────────┬─────────┬─────────────┐
│ pclass ┆ survived ┆ sex    ┆ age    ┆ … ┆ fare       ┆ name              ┆ cabin   ┆ embarked    │
│ ---    ┆ ---      ┆ ---    ┆ ---    ┆   ┆ ---        ┆ ---               ┆ ---     ┆ ---         │
│ cat    ┆ cat      ┆ cat    ┆ f64    ┆   ┆ f64        ┆ str               ┆ str     ┆ cat         │
╞════════╪══════════╪════════╪════════╪═══╪════════════╪═══════════════════╪═════════╪═════════════╡
│ 1st    ┆ Yes      ┆ female ┆ 29.0   ┆ … ┆ 211.337494 ┆ Allen, Miss.      ┆ B5      ┆ Southampton │
│        ┆          ┆        ┆        ┆   ┆            ┆ Elisabeth Walton  ┆         ┆             │
│ 1st    ┆ Yes      ┆ male   ┆ 0.9167 ┆ … ┆ 151.550003 ┆ Allison, Master.  ┆ C22 C26 ┆ Southampton │
│        ┆          ┆        ┆        ┆   ┆            ┆ Hudson Trevor     ┆         ┆             │
│ 1st    ┆ No       ┆ female ┆ 2.0    ┆ … ┆ 151.550003 ┆ Allison, Miss.    ┆ C22 C26 ┆ Southampton │
│        ┆          ┆        ┆        ┆   ┆            ┆ Helen Loraine     ┆         ┆             │
│ 1st    ┆ No       ┆ male   ┆ 30.0   ┆ … ┆ 151.550003 ┆ Allison, Mr.      ┆ C22 C26 ┆ Southampton │
│        ┆          ┆        ┆        ┆   ┆            ┆ Hudson Joshua     ┆         ┆             │
│        ┆          ┆        ┆        ┆   ┆            ┆ Cre…              ┆         ┆             │
│ 1st    ┆ No       ┆ female ┆ 25.0   ┆ … ┆ 151.550003 ┆ Allison, Mrs.     ┆ C22 C26 ┆ Southampton │
│        ┆          ┆        ┆        ┆   ┆            ┆ Hudson J C (Bess… ┆         ┆             │
└────────┴──────────┴────────┴────────┴───┴────────────┴───────────────────┴─────────┴─────────────┘

## Survival by Passenger Class

In [15]:
rsm.eda.pivot(titanic, rows="pclass", cols="survived", totals=True)

shape: (4, 4)
┌────────┬───────┬───────┬────────┐
│ pclass ┆ No    ┆ Yes   ┆ Total  │
│ ---    ┆ ---   ┆ ---   ┆ ---    │
│ str    ┆ f64   ┆ f64   ┆ f64    │
╞════════╪═══════╪═══════╪════════╡
│ 2nd    ┆ 146.0 ┆ 115.0 ┆ 261.0  │
│ 1st    ┆ 103.0 ┆ 179.0 ┆ 282.0  │
│ 3rd    ┆ 369.0 ┆ 131.0 ┆ 500.0  │
│ Total  ┆ 618.0 ┆ 425.0 ┆ 1043.0 │
└────────┴───────┴───────┴────────┘

## Survival Rate by Class (Row Percentages)

In [16]:
rsm.eda.pivot(titanic, rows="pclass", cols="survived", normalize="row", totals=True)

shape: (4, 4)
┌────────┬───────────┬───────────┬───────┐
│ pclass ┆ No        ┆ Yes       ┆ Total │
│ ---    ┆ ---       ┆ ---       ┆ ---   │
│ str    ┆ f64       ┆ f64       ┆ f64   │
╞════════╪═══════════╪═══════════╪═══════╡
│ 3rd    ┆ 73.8      ┆ 26.2      ┆ 100.0 │
│ 2nd    ┆ 55.938697 ┆ 44.061303 ┆ 100.0 │
│ 1st    ┆ 36.524823 ┆ 63.475177 ┆ 100.0 │
│ Total  ┆ 59.252157 ┆ 40.747843 ┆ 100.0 │
└────────┴───────────┴───────────┴───────┘

## Survival by Sex

In [17]:
rsm.eda.pivot(titanic, rows="sex", cols="survived", normalize="row", totals=True)

shape: (3, 4)
┌────────┬───────────┬───────────┬───────┐
│ sex    ┆ Yes       ┆ No        ┆ Total │
│ ---    ┆ ---       ┆ ---       ┆ ---   │
│ str    ┆ f64       ┆ f64       ┆ f64   │
╞════════╪═══════════╪═══════════╪═══════╡
│ male   ┆ 20.547945 ┆ 79.452055 ┆ 100.0 │
│ female ┆ 75.129534 ┆ 24.870466 ┆ 100.0 │
│ Total  ┆ 40.747843 ┆ 59.252157 ┆ 100.0 │
└────────┴───────────┴───────────┴───────┘

## Embarkation Port Distribution

In [18]:
rsm.eda.pivot(titanic, rows="embarked", normalize="total", totals=True)

shape: (4, 3)
┌─────────────┬────────┬───────────┐
│ embarked    ┆ count  ┆ count_pct │
│ ---         ┆ ---    ┆ ---       │
│ str         ┆ f64    ┆ f64       │
╞═════════════╪════════╪═══════════╡
│ Southampton ┆ 781.0  ┆ 74.880153 │
│ Cherbourg   ┆ 212.0  ┆ 20.325983 │
│ Queenstown  ┆ 50.0   ┆ 4.793864  │
│ Total       ┆ 1043.0 ┆ 100.0     │
└─────────────┴────────┴───────────┘

## Mean Fare by Class and Survival

In [19]:
rsm.eda.pivot(titanic, rows="pclass", cols="survived", values="fare", agg="mean")

shape: (3, 3)
┌────────┬────────────┬───────────┐
│ pclass ┆ Yes        ┆ No        │
│ ---    ┆ ---        ┆ ---       │
│ cat    ┆ f64        ┆ f64       │
╞════════╪════════════╪═══════════╡
│ 3rd    ┆ 12.427449  ┆ 13.039712 │
│ 1st    ┆ 102.465226 ┆ 74.678276 │
│ 2nd    ┆ 23.180471  ┆ 20.811044 │
└────────┴────────────┴───────────┘

© Vincent Nijs (2025)