# EDA > Explore

<div class="alert alert-info">Compute summary statistics for numeric columns</div>

The `explore` function provides a quick way to calculate summary statistics for numeric columns in your data. It supports grouping and custom aggregation functions.

In [1]:
import pyrsm as rsm

## setup pyrsm for autoreload
%reload_ext autoreload
%autoreload 2
%aimport pyrsm

# Diamonds Dataset

The diamonds dataset contains prices and attributes of 3,000 diamonds. We'll use it to explore summary statistics.

In [2]:
diamonds, diamonds_description = rsm.load_data(pkg="data", name="diamonds")
diamonds.head()

shape: (5, 11)
┌───────┬───────┬─────────┬───────────┬───┬──────┬──────┬──────┬────────────┐
│ price ┆ carat ┆ clarity ┆ cut       ┆ … ┆ x    ┆ y    ┆ z    ┆ date       │
│ ---   ┆ ---   ┆ ---     ┆ ---       ┆   ┆ ---  ┆ ---  ┆ ---  ┆ ---        │
│ i32   ┆ f64   ┆ cat     ┆ cat       ┆   ┆ f64  ┆ f64  ┆ f64  ┆ date       │
╞═══════╪═══════╪═════════╪═══════════╪═══╪══════╪══════╪══════╪════════════╡
│ 580   ┆ 0.32  ┆ VS1     ┆ Ideal     ┆ … ┆ 4.43 ┆ 4.45 ┆ 2.71 ┆ 2012-02-26 │
│ 650   ┆ 0.34  ┆ SI1     ┆ Very Good ┆ … ┆ 4.45 ┆ 4.42 ┆ 2.81 ┆ 2012-02-26 │
│ 630   ┆ 0.3   ┆ VS2     ┆ Very Good ┆ … ┆ 4.27 ┆ 4.23 ┆ 2.68 ┆ 2012-02-26 │
│ 706   ┆ 0.35  ┆ VVS2    ┆ Ideal     ┆ … ┆ 4.6  ┆ 4.65 ┆ 2.74 ┆ 2012-02-26 │
│ 1080  ┆ 0.4   ┆ VS2     ┆ Premium   ┆ … ┆ 4.72 ┆ 4.68 ┆ 2.94 ┆ 2012-02-26 │
└───────┴───────┴─────────┴───────────┴───┴──────┴──────┴──────┴────────────┘

In [3]:
rsm.md(diamonds_description)

## Diamond prices

Prices of 3,000 round cut diamonds

### Description

A dataset containing the prices and other attributes of a sample of 3000 diamonds. The variables are as follows:

### Variables

- price = price in US dollars ($338--$18,791)
- carat = weight of the diamond (0.2--3.00)
- clarity = a measurement of how clear the diamond is (I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))
- cut = quality of the cut (Fair, Good, Very Good, Premium, Ideal)
- color = diamond color, from J (worst) to D (best)
- depth = total depth percentage = z / mean(x, y) = 2 * z / (x + y) (54.2--70.80)
- table = width of top of diamond relative to widest point (50--69)
- x = length in mm (3.73--9.42)
- y = width in mm (3.71--9.29)
- z = depth in mm (2.33--5.58)
- date = shipment date

### Additional information

<a href="http://www.diamondse.info/diamonds-clarity.asp" target="_blank">Diamond search engine</a>

## Basic Usage

By default, `explore` calculates mean, std, min, max, and count for all numeric columns.

In [4]:
rsm.eda.explore(diamonds)

shape: (1, 35)
┌────────────┬───────────┬───────────┬───────────┬───┬──────────┬───────┬───────┬─────────┐
│ price_mean ┆ price_std ┆ price_min ┆ price_max ┆ … ┆ z_std    ┆ z_min ┆ z_max ┆ z_count │
│ ---        ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---      ┆ ---   ┆ ---   ┆ ---     │
│ f64        ┆ f64       ┆ i32       ┆ i32       ┆   ┆ f64      ┆ f64   ┆ f64   ┆ u32     │
╞════════════╪═══════════╪═══════════╪═══════════╪═══╪══════════╪═══════╪═══════╪═════════╡
│ 3907.186   ┆ 3956.9154 ┆ 338       ┆ 18791     ┆ … ┆ 0.693858 ┆ 2.33  ┆ 5.58  ┆ 3000    │
└────────────┴───────────┴───────────┴───────────┴───┴──────────┴───────┴───────┴─────────┘

## Select Specific Columns

Use `cols` to focus on specific variables.

In [5]:
rsm.eda.explore(diamonds, cols=["price", "carat"])

shape: (1, 10)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ price_mea ┆ price_std ┆ price_min ┆ price_max ┆ … ┆ carat_std ┆ carat_min ┆ carat_max ┆ carat_co │
│ n         ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ unt      │
│ ---       ┆ f64       ┆ i32       ┆ i32       ┆   ┆ f64       ┆ f64       ┆ f64       ┆ ---      │
│ f64       ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ u32      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 3907.186  ┆ 3956.9154 ┆ 338       ┆ 18791     ┆ … ┆ 0.473826  ┆ 0.2       ┆ 3.0       ┆ 3000     │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

## Custom Summary Functions

Use `funs` to specify which statistics to compute. Available functions: mean, median, sum, std, var, min, max, count, n_unique, null_count.

In [6]:
rsm.eda.explore(diamonds, cols=["price", "carat"], funs=["mean", "median", "std", "min", "max"])

shape: (1, 10)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ price_mea ┆ price_med ┆ price_std ┆ price_min ┆ … ┆ carat_med ┆ carat_std ┆ carat_min ┆ carat_ma │
│ n         ┆ ian       ┆ ---       ┆ ---       ┆   ┆ ian       ┆ ---       ┆ ---       ┆ x        │
│ ---       ┆ ---       ┆ f64       ┆ i32       ┆   ┆ ---       ┆ f64       ┆ f64       ┆ ---      │
│ f64       ┆ f64       ┆           ┆           ┆   ┆ f64       ┆           ┆           ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 3907.186  ┆ 2407.0    ┆ 3956.9154 ┆ 338       ┆ … ┆ 0.7       ┆ 0.473826  ┆ 0.2       ┆ 3.0      │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

## Grouped Statistics

Use `by` to compute statistics within groups.

In [7]:
rsm.eda.explore(diamonds, cols=["price"], by="cut")

shape: (5, 6)
┌───────────┬─────────────┬─────────────┬───────────┬───────────┬─────────────┐
│ cut       ┆ price_mean  ┆ price_std   ┆ price_min ┆ price_max ┆ price_count │
│ ---       ┆ ---         ┆ ---         ┆ ---       ┆ ---       ┆ ---         │
│ cat       ┆ f64         ┆ f64         ┆ i32       ┆ i32       ┆ u32         │
╞═══════════╪═════════════╪═════════════╪═══════════╪═══════════╪═════════════╡
│ Good      ┆ 4130.432727 ┆ 3730.353553 ┆ 339       ┆ 16776     ┆ 275         │
│ Ideal     ┆ 3470.223639 ┆ 3827.423266 ┆ 362       ┆ 18791     ┆ 1176        │
│ Fair      ┆ 4505.237624 ┆ 3749.540458 ┆ 497       ┆ 16386     ┆ 101         │
│ Very Good ┆ 3959.915805 ┆ 3895.898807 ┆ 338       ┆ 18678     ┆ 677         │
│ Premium   ┆ 4369.40856  ┆ 4236.977216 ┆ 367       ┆ 18745     ┆ 771         │
└───────────┴─────────────┴─────────────┴───────────┴───────────┴─────────────┘

In [8]:
rsm.eda.explore(diamonds, cols=["price", "carat"], by="color", funs=["mean", "median", "count"])

shape: (7, 7)
┌───────┬─────────────┬──────────────┬─────────────┬────────────┬──────────────┬─────────────┐
│ color ┆ price_mean  ┆ price_median ┆ price_count ┆ carat_mean ┆ carat_median ┆ carat_count │
│ ---   ┆ ---         ┆ ---          ┆ ---         ┆ ---        ┆ ---          ┆ ---         │
│ cat   ┆ f64         ┆ f64          ┆ u32         ┆ f64        ┆ f64          ┆ u32         │
╞═══════╪═════════════╪══════════════╪═════════════╪════════════╪══════════════╪═════════════╡
│ H     ┆ 4250.301762 ┆ 3482.0       ┆ 454         ┆ 0.879802   ┆ 0.9          ┆ 454         │
│ E     ┆ 3284.595668 ┆ 1791.0       ┆ 554         ┆ 0.679242   ┆ 0.55         ┆ 554         │
│ J     ┆ 5642.012195 ┆ 4413.5       ┆ 164         ┆ 1.192744   ┆ 1.14         ┆ 164         │
│ I     ┆ 4869.190141 ┆ 3672.5       ┆ 284         ┆ 1.000704   ┆ 0.96         ┆ 284         │
│ G     ┆ 3970.572864 ┆ 2250.0       ┆ 597         ┆ 0.773585   ┆ 0.7          ┆ 597         │
│ D     ┆ 3217.002618 ┆ 1857.0       ┆ 382         ┆ 0.665393   ┆ 0.54         ┆ 382         │
│ F     ┆ 3654.492035 ┆ 2298.0       ┆ 565         ┆ 0.727965   ┆ 0.69         ┆ 565         │
└───────┴─────────────┴──────────────┴─────────────┴────────────┴──────────────┴─────────────┘

# Titanic Dataset

The Titanic dataset contains passenger information from the 1912 disaster.

In [9]:
titanic, titanic_description = rsm.load_data(pkg="data", name="titanic")
titanic.head()

shape: (5, 10)
┌────────┬──────────┬────────┬────────┬───┬────────────┬───────────────────┬─────────┬─────────────┐
│ pclass ┆ survived ┆ sex    ┆ age    ┆ … ┆ fare       ┆ name              ┆ cabin   ┆ embarked    │
│ ---    ┆ ---      ┆ ---    ┆ ---    ┆   ┆ ---        ┆ ---               ┆ ---     ┆ ---         │
│ cat    ┆ cat      ┆ cat    ┆ f64    ┆   ┆ f64        ┆ str               ┆ str     ┆ cat         │
╞════════╪══════════╪════════╪════════╪═══╪════════════╪═══════════════════╪═════════╪═════════════╡
│ 1st    ┆ Yes      ┆ female ┆ 29.0   ┆ … ┆ 211.337494 ┆ Allen, Miss.      ┆ B5      ┆ Southampton │
│        ┆          ┆        ┆        ┆   ┆            ┆ Elisabeth Walton  ┆         ┆             │
│ 1st    ┆ Yes      ┆ male   ┆ 0.9167 ┆ … ┆ 151.550003 ┆ Allison, Master.  ┆ C22 C26 ┆ Southampton │
│        ┆          ┆        ┆        ┆   ┆            ┆ Hudson Trevor     ┆         ┆             │
│ 1st    ┆ No       ┆ female ┆ 2.0    ┆ … ┆ 151.550003 ┆ Allison, Miss.    ┆ C22 C26 ┆ Southampton │
│        ┆          ┆        ┆        ┆   ┆            ┆ Helen Loraine     ┆         ┆             │
│ 1st    ┆ No       ┆ male   ┆ 30.0   ┆ … ┆ 151.550003 ┆ Allison, Mr.      ┆ C22 C26 ┆ Southampton │
│        ┆          ┆        ┆        ┆   ┆            ┆ Hudson Joshua     ┆         ┆             │
│        ┆          ┆        ┆        ┆   ┆            ┆ Cre…              ┆         ┆             │
│ 1st    ┆ No       ┆ female ┆ 25.0   ┆ … ┆ 151.550003 ┆ Allison, Mrs.     ┆ C22 C26 ┆ Southampton │
│        ┆          ┆        ┆        ┆   ┆            ┆ Hudson J C (Bess… ┆         ┆             │
└────────┴──────────┴────────┴────────┴───┴────────────┴───────────────────┴─────────┴─────────────┘

In [10]:
rsm.md(titanic_description)

## Titanic

This dataset describes the survival status of individual passengers on the Titanic. The titanic data frame does not contain information from the crew, but it does contain actual ages of (some of) the passengers. The principal source for data about Titanic passengers is the Encyclopedia Titanica. One of the original sources is Eaton & Haas (1994) Titanic: Triumph and Tragedy, Patrick Stephens Ltd, which includes a passenger list created by many researchers and edited by Michael A. Findlay.

## Variables

* survival - Survival (Yes, No)
* pclass - Passenger Class (1st, 2nd, 3rd)
* sex - Sex (female, male)
* age - Age in years
* sibsp - Number of Siblings/Spouses Aboard
* parch - Number of Parents/Children Aboard
* fare - Passenger Fare
* name - Name
* cabin - Cabin
* embarked - Port of Embarkation (Cherbourg, Queenstown, Southampton)

##  Notes

`pclass` is a proxy for socio-economic status (SES) 1st ~ Upper; 2nd ~ Middle; 3rd ~ Lower

Age is in Years; Fractional if Age less than One (1). If the Age is Estimated, it is in the form xx.5

With respect to the family relation variables (i.e. sibsp and parch) some relations were ignored.  The following are the definitions used for sibsp and parch.

Sibling:  Brother, Sister, Stepbrother, or Stepsister of Passenger Aboard Titanic
Spouse:   Husband or Wife of Passenger Aboard Titanic (Mistresses and Fiances Ignored)
Parent:   Mother or Father of Passenger Aboard Titanic
Child:    Son, Daughter, Stepson, or Stepdaughter of Passenger Aboard Titanic

Other family relatives excluded from this study include cousins, nephews/nieces, aunts/uncles, and in-laws. Some children travelled only with a nanny, therefore parch=0 for them.  As well, some travelled with very close friends or neighbors in a village, however, the definitions do not support such relations.

Note: Missing values and the `ticket` variable were removed from the data

## Related reading

<a href="http://phys.org/news/2012-07-shipwrecks-men-survive.html" target="_blank">In shipwrecks, men more likely to survive</a>

## Explore All Numeric Columns

In [11]:
rsm.eda.explore(titanic)

shape: (1, 20)
┌───────────┬───────────┬─────────┬─────────┬───┬───────────┬──────────┬────────────┬────────────┐
│ age_mean  ┆ age_std   ┆ age_min ┆ age_max ┆ … ┆ fare_std  ┆ fare_min ┆ fare_max   ┆ fare_count │
│ ---       ┆ ---       ┆ ---     ┆ ---     ┆   ┆ ---       ┆ ---      ┆ ---        ┆ ---        │
│ f64       ┆ f64       ┆ f64     ┆ f64     ┆   ┆ f64       ┆ f64      ┆ f64        ┆ u32        │
╞═══════════╪═══════════╪═════════╪═════════╪═══╪═══════════╪══════════╪════════════╪════════════╡
│ 29.813199 ┆ 14.366261 ┆ 0.1667  ┆ 80.0    ┆ … ┆ 55.753648 ┆ 0.0      ┆ 512.329224 ┆ 1043       │
└───────────┴───────────┴─────────┴─────────┴───┴───────────┴──────────┴────────────┴────────────┘

## Statistics by Passenger Class

In [12]:
rsm.eda.explore(titanic, cols=["age", "fare"], by="pclass", funs=["mean", "median", "std", "count"])

shape: (3, 9)
┌────────┬───────────┬────────────┬───────────┬───┬───────────┬────────────┬───────────┬───────────┐
│ pclass ┆ age_mean  ┆ age_median ┆ age_std   ┆ … ┆ fare_mean ┆ fare_media ┆ fare_std  ┆ fare_coun │
│ ---    ┆ ---       ┆ ---        ┆ ---       ┆   ┆ ---       ┆ n          ┆ ---       ┆ t         │
│ cat    ┆ f64       ┆ f64        ┆ f64       ┆   ┆ f64       ┆ ---        ┆ f64       ┆ ---       │
│        ┆           ┆            ┆           ┆   ┆           ┆ f64        ┆           ┆ u32       │
╞════════╪═══════════╪════════════╪═══════════╪═══╪═══════════╪════════════╪═══════════╪═══════════╡
│ 1st    ┆ 39.083038 ┆ 39.0       ┆ 14.535653 ┆ … ┆ 92.316092 ┆ 67.950001  ┆ 82.88817  ┆ 282       │
│ 2nd    ┆ 29.506705 ┆ 29.0       ┆ 13.638628 ┆ … ┆ 21.855044 ┆ 15.75      ┆ 13.540335 ┆ 261       │
│ 3rd    ┆ 24.745    ┆ 24.0       ┆ 11.862897 ┆ … ┆ 12.879299 ┆ 8.05       ┆ 9.733091  ┆ 500       │
└────────┴───────────┴────────────┴───────────┴───┴───────────┴────────────┴───────────┴───────────┘

## Statistics by Survival Status

In [13]:
rsm.eda.explore(titanic, cols=["age", "fare"], by="survived", funs=["mean", "median", "count"])

shape: (2, 7)
┌──────────┬───────────┬────────────┬───────────┬───────────┬─────────────┬────────────┐
│ survived ┆ age_mean  ┆ age_median ┆ age_count ┆ fare_mean ┆ fare_median ┆ fare_count │
│ ---      ┆ ---       ┆ ---        ┆ ---       ┆ ---       ┆ ---         ┆ ---        │
│ cat      ┆ f64       ┆ f64        ┆ u32       ┆ f64       ┆ f64         ┆ u32        │
╞══════════╪═══════════╪════════════╪═══════════╪═══════════╪═════════════╪════════════╡
│ Yes      ┆ 28.81902  ┆ 28.0       ┆ 425       ┆ 53.258884 ┆ 26.25       ┆ 425        │
│ No       ┆ 30.496899 ┆ 28.0       ┆ 618       ┆ 25.148752 ┆ 13.0        ┆ 618        │
└──────────┴───────────┴────────────┴───────────┴───────────┴─────────────┴────────────┘

## Check for Missing Values

In [14]:
rsm.eda.explore(titanic, funs=["count", "null_count", "n_unique"])

shape: (1, 12)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ age_count ┆ age_null_ ┆ age_n_uni ┆ sibsp_cou ┆ … ┆ parch_n_u ┆ fare_coun ┆ fare_null ┆ fare_n_u │
│ ---       ┆ count     ┆ que       ┆ nt        ┆   ┆ nique     ┆ t         ┆ _count    ┆ nique    │
│ u32       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│           ┆ u32       ┆ u32       ┆ u32       ┆   ┆ u32       ┆ u32       ┆ u32       ┆ u32      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 1043      ┆ 0         ┆ 97        ┆ 1043      ┆ … ┆ 7         ┆ 1043      ┆ 0         ┆ 255      │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

© Vincent Nijs (2025)